/******************
GENERAL
******************/
body {
    font-family: "Open Sans", sans-serif;
    background-image: url('http://hdwpics.com/images/079DC2390527/Vintage-black-design-background-red-theme-scenic-twitter-designs.jpg');
}
a{
    text-decoration: none;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding:0 5%;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: "Sarala", sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
}

h2 {
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
}

nav {
    text-align: center;
    padding: 10px 0;
    margin: 0px 0;
}

nav ul {
    list-style: none;
    padding: 20px 0;
    margin: 0 10px;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #ccc;
    clear: both;
}

.social-media-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: lightgrey;
    color: #bdc3c7;
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: black;
}

.profile-photo {
    display: black;
    max-width: 0 auto 30px;
    border-radius: 25%;
}

.contact-info{
    life-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.mail a {
    background-image: url('../img/mail.png');
}

body {
    background-color: white;
    color: #999;
}

a {
    color: #6ab47b;  
}

header {
    background-image: url(http://neumannmarking.com/wp-content/themes/genesis-sample/images/footer-background.png);
}

h1,h2 {
    color: #fff;
}

nav {
    background: #599a68;
}

nav a,nav a:visited{
    color: #fff
}

nav a.selected,nav.a:hover {
    color: black;
}

@media screen and (min-width: 480px){
    #primary {
        width: 50%;
        float: left;
 }

    #secondary {
    width: 40%;
    float: right;
 }

    #gallery li {
    width: 28.3333%;
 }
    #gallery li:nth-child(4n){
    clear: left;
 }
    .profile-photo {
    float: left;
    margin: 0 5% 80px 0;
 }
}

    @media screen and (min-width: 660px){
    nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
 }
 
    h1,h2 {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
 }
    h1 {
     font-size: 2.5em;
 }
    h2 {
    font-size: 0.825em;
    margin-bottom: 20px;
 }
    header { 
    border-bottom: 5px solid black;
    margin-bottom: 60px;
    
 }
}